#blob {
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  translate: -50% -50%;
  background: linear-gradient(to right, rgb(69, 41, 46), rgb(90, 3, 90));
  animation: rotate 20s infinite linear;
  filter: blur(200px);
  z-index: -100;
}

@media only screen and (max-width: 1280px) {
  #blob {
    height: 500px;
    aspect-ratio: 1;
  }
}
@media only screen and (max-width: 850px) {
  #blob {
    height: 55vw;
    aspect-ratio: 1;
  }
}

.animate-rotate {
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
