@import "./cursor-shadow.css";
@import "./arrow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  /* min-height: 100vh; */
  height: 100vh;
  max-height: 100vh;
  /* height: 500vh; */
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  color: white;
}

h1 {
  color: white;
}

.transition-smooth {
  @apply transition-all duration-200 ease-in-out;
}

.transition-smooth {
  @apply transition-all duration-200 ease-in-out;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  display: none !important;
}

/* for react modal */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  position: relative !important;
}
